<!DOCTYPE html>

{{!-- By having this page, we enable bootstrap to create HTML on our home page by featuring pre-made sections of code to be called. --}}
<html>
  {{> head }}
  <body class="center">

    <main>
      {{{ body }}}
    </main>

{{!-- It's also important we use this page to reference our scripts, wether it be the main JavaScript page, or the two external sources of Font Awesome and wow.js --}}
  <script src="index.js"></script> 
  <script src="https://kit.fontawesome.com/e0497a292c.js" crossorigin="anonymous"></script>
  <script src="/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
  </body>
  
</html>
