<!DOCTYPE html>
<html>
  {{> head }}
  <body class="center">

    <main>
      {{{ body }}}
    </main>

  <script src="index.js"></script> 
  <script src="https://kit.fontawesome.com/e0497a292c.js" crossorigin="anonymous"></script>
  <script src="/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
  </body>
  
</html>
