  
<div class=pokemon>
     <div class=pokeOut>

        <h1 class=pokedex></h1>
        <p class=number></p>

         <div class=pokeIn>
         </div>
         <div class=pokeIn2>
         </div>

         
     </div>

     <div class="rightArrow">


        <img id="rightButton" src="https://people.emich.edu/dheiss2/231/231_Project_1/images/arrow.png" alt="">

         </div>

        

     <div class="leftArrow">

        <img id="leftButton" src="https://people.emich.edu/dheiss2/231/231_Project_1/images/arrow.png" alt="">

         </div>
</div>
         

        